:root {
   --point: 20px;
}
body {
   font-size: 1em;
}
#container {
   background-color: rgb(2, 58, 21);
   /* width: 100vw; */
}
.hjemme-grid {
   width: 100vw;
   max-width: 1360px;
   margin: 0 auto;
   display: grid;
   gap: 10px;
   grid-template-columns: 1fr 1fr;

   grid-template-rows: 150px 2fr;
   grid-template-areas:
      "navbar      navbar "
      "hjemme-side hjemme-side-img";
}
.navbar {
   grid-area: navbar;
   padding: 20px;
}
.hjemme-side {
   grid-area: hjemme-side;
   color: white;
   padding: 0 20px;
   margin: 0 20px;
}
.hjemme-side-img {
   grid-area: hjemme-side-img;
}

.logo-holder {
   flex-grow: 1;
   align-items: left;
}
.logo-holder a > img {
   width: 200px;
}

.nav-item {
   display: flex;
   flex-direction: row;
   align-items: right;
   justify-content: space-between;

   padding: 10px 20px;
   font-size: 20px;
   font-family: "Roboto", sans-serif;
}

.nav-item > li {
   padding: 20px;

   list-style: none;
}
.nav-item a {
   color: white;

   text-decoration: none;
}

.hjemme-head {
   font-size: 3em;
   line-height: 1;
   padding: 0 20px;
}

.hjemme-side > p {
   line-height: 1;
   padding: 20px;
   font-size: 1em;
   font-family: "Roboto", sans-serif;
}

.pink {
   color: rgb(240, 156, 150);
}

.medlem {
   text-decoration: none;
   text-align: left;
   color: rgb(2, 58, 21);
   background: white;
   padding: 10px 50px;
   border-radius: 10px;
   font-size: 1.5em;
   margin: 20px 20px;
}
.medlem:hover {
   background-color: rgb(255, 230, 226);
}

.hjemme-side-img > img {
   width: 600px;
}

/* Politikk */

#politikk {
   font-family: Arial, Helvetica, sans-serif;
   margin: 20px;
   font-size: 1.5em;
   /* width: 100vw;
   max-width: 1360px; */
   /* height: 100vh; */
   color: white;
}
.områder-head {
   width: 100vw;
   max-width: 1360px;
   margin: 0 auto;
   color: rgb(2, 58, 21);
   padding: 20px;
}

.områder-main {
   /* padding: 10px; */

   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   /* grid-gap: 10px; */
}

.områder {
   height: 350px;
   width: 275px;
   background-color: rgb(255, 230, 226);
   color: rgb(2, 58, 21);
   line-height: 1.5;
   padding: 20px;
   margin: 10px;
   /* justify-self: center; */
}
#politikk > h2 {
   padding: 20px;
   /* margin: 20px; */
   color: rgb(2, 58, 21);
}
/* Partiet */

#partiet {
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(2, 58, 21);
}

.parti-head {
   font-size: 2em;
   padding: 20px;
}
.parti-main {
   /* height: 100vh; */
   width: 100%;
   max-width: 1360px;
   /* min-height: 930px; */
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
}

.parti-img-head {
   display: grid;
   grid-template-columns: 300px 300px;
   grid-template-rows: 300px 300px;
   border-radius: 20px;
   /* background-color: rgb(255, 230, 226); */
}
.parti-img {
   /* justify-items: center; */

   /* background-color: white; */
}

.parti-img > img {
   /* object-fit: cover; */
   width: 250px;
}

.parti-padding {
   padding: 20px;
}
.parti-para {
   font-size: 1.5em;
   font-family: "Roboto", sans-serif;
   /* padding: 20px; */
}

.parti-ul {
   font-size: 1.5em;
   padding: 0 30px;
   line-height: 1.5em;
}
.parti-ul > li {
   list-style: none;
}
/* Kontakt Section */

#kontakt {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;

   background: rgb(2, 58, 21);
   width: 100vw;
}
.kontakt-main {
   width: 100vw;
   max-width: 1360px;
   height: 100vh;
   margin: 0 auto;
   display: grid;
   gap: "30px";
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 2fr 1fr;
   grid-template-areas:
      "kontakt-head form"
      "address   form"
      "foot      foot";
}
.kontakt-head {
   padding: 20px;
   margin: 10px;
   grid-area: kontakt-head;
}
.nyhet {
   text-decoration: none;
   text-align: left;
   color: rgb(2, 58, 21);
   background: white;
   padding: 10px 20px;
   font-size: 24px;
   /* border-radius: 10px; */
   /* margin: 20px 10px; */
}
.nyhet:hover {
   background-color: rgb(255, 230, 226);
}
.form {
   padding: 20px;
   margin: 10px;
   grid-area: form;
}
input {
   display: block;
   padding: 10px;
   margin: 20px;
}

.address {
   padding: 20px;
   grid-area: address;
}
.address p {
   line-height: 1.5em;
}

.foot {
   color: white;
   text-align: center;
   grid-area: foot;
}

.social-icon {
   margin: 10px 20px;
}
